/* Stile generale */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  color: #007bff;
  margin-bottom: 20px;
}

/* Stile per il contenitore del modulo */
label {
  font-size: 1.2rem;
  margin-right: 10px;
}

input {
  padding: 8px;
  font-size: 1rem;
  border: 2px solid #ced4da;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
  width: 250px; /* Impostato una larghezza fissa */
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  padding: 8px 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: 200px; /* Impostato una larghezza fissa */
}

button:hover {
  background-color: #0056b3;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: block;
  margin: 10px 0;
}

.pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  border: 2px dashed #ced4da;
  background-color: #ffffff;
}

.pokedex img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Per la visualizzazione dei dati tipo e BST */
#data-type, #data-bst-container {
  font-size: 1.1rem;
  margin-top: 15px;
}

#data-type strong {
  font-weight: bold;
}

#data-bst-line {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#data-bst-line p {
  font-size: 1rem;
  color: #333;
  margin: 5px 0;
}

#data-bst-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

/* Responsività */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  input, button {
    font-size: 0.9rem;
  }

  [data-pokedex] {
    width: 100%;
    height: 200px;
  }

  button {
    width: 150px; /* Ridotto per i dispositivi più piccoli */
  }

  .pokedex {
    width: 100%; /* Adatta la larghezza */
    height: auto;
  }
}
